---
import Layout from "../layouts/Layout.astro"
import PageLayout from "../layouts/PageLayout.astro"
---

<Layout title="About the team">
  <PageLayout title="About us">
    <div class="space-y-4">
      <p>
        Sint cupidatat dolor duis aute sit. Minim tempor cupidatat irure quis sit in sit excepteur consequat.
        Nulla nulla ea laborum Lorem deserunt consectetur. Commodo qui irure occaecat laborum duis in pariatur
        est enim anim. Sit ex veniam ad nulla enim sint consequat eu Lorem.
      </p>
      <p>
        Excepteur mollit ut commodo ut et anim nulla adipisicing eiusmod id pariatur eu. Id dolore eu duis non
        mollit voluptate veniam veniam in tempor eu. Adipisicing tempor sunt qui culpa et enim laborum non
        duis minim proident non deserunt commodo eu. Dolore proident officia irure voluptate esse deserunt
        adipisicing duis ad. Eiusmod est do aliqua proident sunt dolore. Amet ullamco velit occaecat qui Lorem
        sint consectetur laborum consequat tempor nostrud labore fugiat amet. Dolor irure aute ad non enim
        commodo magna. Eiusmod ipsum magna deserunt ut duis.
      </p>
      <p>
        Nisi ipsum consectetur ad ullamco pariatur. Minim cupidatat ex ad excepteur laboris proident eiusmod.
        Excepteur excepteur adipisicing aliquip est voluptate eiusmod velit ipsum consectetur commodo
        voluptate enim nisi. In aliqua ut non mollit ea est amet consequat qui veniam consectetur elit quis
        mollit. Consequat consectetur quis aliqua et voluptate cillum excepteur voluptate eiusmod ullamco
        pariatur nisi esse dolor sit. Labore esse culpa sunt. Voluptate aliquip anim reprehenderit proident
        sit ea eu dolore consequat amet adipisicing nisi.
      </p>
      <p>
        Occaecat sint mollit enim aliquip ullamco cillum tempor minim. Elit non fugiat ipsum fugiat excepteur
        in ex magna magna consequat incididunt ex ut culpa qui. Irure est dolore reprehenderit non elit
        nostrud reprehenderit aliqua labore nisi. Excepteur exercitation officia labore in voluptate nulla
        pariatur esse do tempor officia non. Magna ea ipsum et amet magna ea ut. Est elit veniam eiusmod
        dolore adipisicing laborum.
      </p>
    </div>
  </PageLayout>
</Layout>
