---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="space-y-4">
		<h1 class="text-5xl">Welcome to <span class="bg-red-500">Astro</span></h1>
		<p >
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list">
			
		</ul>
	</main>
</Layout>
