---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.svelte"
---

<Layout title="No Quarter">
  <div class="space-y-8">
    <div class="-order-1 grid w-full grid-cols-1 gap-8 md:order-1 md:grid-cols-2 md:gap-10">
      <div class="flex h-full flex-col justify-between">
        <h1 class="text-6xl">No Quarter</h1>
        <div class="space-y-4">
          <div class="flex space-x-2">
            <input
              class="w-full rounded-lg border border-neutral-700 bg-neutral-800 py-3 px-6 font-mono shadow-2xl transition-colors placeholder:text-neutral-400 hover:bg-neutral-700/70 focus:bg-neutral-700"
              placeholder="What do they do?"
            />
            <button class="rounded-lg bg-neutral-700 py-3 px-8 transition-colors hover:bg-neutral-600"
              >Search</button
            >
          </div>
          <div class="flex space-x-2 font-mono">
            <button class="rounded-full bg-yellow-500/60 px-4 py-2 hover:opacity-80">about</button>
            <button class="rounded-full bg-teal-800 px-4 py-2 hover:opacity-80">projects</button>
            <button class="rounded-full bg-purple-800 px-4 py-2 hover:opacity-80">team</button>
            <button class="rounded-full bg-pink-800 px-4 py-2 hover:opacity-80">thing</button>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <h2 class="max-w-xl text-right text-5xl">
          We <span class="text-[#00F5D4]">design and build</span> tools that <span class="text-[#F15BB5]"
            >contribute</span
          > to a more <span class="text-[#9B5DE5]">equitable</span> future.
        </h2>
      </div>
    </div>
    <div class="space-y-4">
      <div class="grid grid-cols-3 gap-4">
        <Card
          client:visible
          title="About us"
          desciption="Come get lit with the boys, Reprehenderit magna veniam sint incididunt. Eu laboris enim nulla aliqua."
          tags={["Lit"]}
        />
        <Card
          client:visible
          title="Our work"
          desciption="Our stuff is super sick and really nice. Esse officia nisi adipisicing eiusmod ex quis tempor esse ea consectetur ipsum."
          tags={["Cool"]}
        />
      </div>
    </div>
  </div>
</Layout>
