<span>
  We <span class="text-[#00F5D4]">design and build</span> tools that <span class="text-[#F15BB5]"
    >contribute</span
  > to a more <span class="text-[#9B5DE5]">equitable</span> future.
</span>
